html,body{
	height: 100%;
}
.container{
	min-height: 100%;
	/*background: yellow;*/
}
#div_cabecalho{
		background:#EEEEEE;
		/*border: 2px solid red;*/
		text-align:center;
	}

/**===============================  tipografia  ===========================**/

h1{
	font-weight: 500;
	font-size: 50px;
	/*deixar texto mais proximo*/
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	color: #212121;
}

h2{
	font-weight: 300;
	font-size: 30px;
	letter-spacing: -0.04em;
	color: #212121;
}
p{
	font-weight: 200;
	font-size: 20px;
	letter-spacing: -0.04em;
	color: #424242;
}

/*===== FORMATAR RODAPE========*/
footer{
	background: #BDBDBD;
	padding: 0px 0px 0px 0px ;
	position: fixed;
}
.item-rede-social{
	float: right;
	margin-right: 0px;	
}
#rodape{
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
}
#imagem_rede_social{
	height: 50px;
	width: 50px;
}

/**===============================  Media querys ===========================**/
/*xs < 768 smartphone*/ 
@media screen and (max-width: 767px){
	h1{
		font-size:20px;
		color:#000000;		
	}
	h2{
		color:#212121;
		font-size:15px;
	}
	p{
		color:#424242;
		font-size:10px;
	}
	#imagem_rede_social{
		height:100%;
		width:20px;
	}
	#imagem_foto{
		height:85%;
		width:85%;
		float:right;
	}
	#div_selecionar{
		background:#EEEEEE;
		text-align:center;
	}
}
/*sm > 768 tablet*/
@media screen and (min-width: 768px){
	h1{
		font-size:22px;
		color:#000000;	
	}
	h2{
		color:#212121;
		font-size:17px;
	}
	p{
		color:#424242;
		font-size:12px;
	}
	#imagem_rede_social{
		height:100%;
		width:20px;
	}
	#imagem_foto{
		height:100%;
		width:100%;
		float:right;
	}
	#div_selecionar{
		background:#EEEEEE;
		text-align:center;
	}
}


/*md > 992 desktop*/
@media screen and (min-width: 992px){
	h1{
		font-size:25px;
		color:#000000;
	}
	h2{
		color:#212121;
		font-size:20px;
	}
	p{
		color:#424242;
		font-size:15px;
	}
	#imagem_rede_social{
		height:100%;
		width:20px;
	}
	#imagem_foto{
		height:100%;
		width:100%;
		float:right;
	}
	#div_selecionar{
		background:#EEEEEE;
		text-align:center;
	}
}
/*lg > 1200*/
@media screen and (min-width: 1200px){
	h1{
		font-size:30px;
		color:#000000;	
	}
	h2{
		color:#212121;
		font-size:25px;
	}
	p{
		color:#424242;
		font-size:20px;
	}
	#imagem_rede_social{
		height:100%;
		width:20px;
	}
	#imagem_foto{
		height:100%;
		width:100%;
		float:right;
	}
	#div_selecionar{
		background:#EEEEEE;
		text-align:center;
	}
}